.list-view{       /* For the ListView - folderPath */
    -fx-background-color: #e8f4f8;
    -fx-font-family: "Varela-Regular";
    -fx-text-alignment: Center;
    -fx-font-size: 21;
    -fx-background-radius: 5;
}

.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:vertical .track{
    -fx-background-color :#e8f4f8;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.list-view .scroll-bar:vertical .increment-button ,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color :#e8f4f8;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color :derive(#0054B4,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.list-view .scroll-bar:horizontal .thumb:hover,
.list-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#b3ccff,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.list-cell{
    -fx-text-fill: #0054B4;
    -fx-background-color: #e8f4f8;
    -fx-text-alignment: Center;
}

.combo-box{
    -fx-background-color: #e8f4f8;
    -fx-background-radius: 5;
}
.combo-box .list-cell:hover{
    -fx-background-color: #b3ccff;
}

.button{
    -fx-background-color: #e8f4f8;
    -fx-pref-width: 260px;
    -fx-background-radius: 5;
}

.button:hover{
    -fx-background-color: #b3ccff;
}

.text-field{
    -fx-background-color: #e8f4f8;
    -fx-background-radius: 5;
}

.text-field:hover{
    -fx-background-color: #b3ccff;
}