@font-face {
    font-family: 'Varela';
    src: url('Varela-Regular.otf');
}

#libraryButton, #recommendedButton, #pageTitleButton{
    -fx-font-family: 'Varela';
    -fx-font-size: 16px;
}

#recommendedButton:hover, #libraryButton:hover{
    -fx-background-color: rgba(32, 71, 102, 0.2) !important;
    transition: 2s !important;
    -fx-text-fill: #1a9ec5 !important;
}

#libraryButton{
    -fx-text-fill: #1a9ec5;
}

.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}

.combo-box .text-field {
    -fx-prompt-text-fill: rgb(255, 255, 255);
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.combo-box .list-cell
{
    -fx-background: #204766;
    -fx-background-color: #204766;
    -fx-text-fill: #1a9ec5;
    -fx-padding: 3 0 2 7;
}

.combo-box-popup .list-view
{
    -fx-background-color: #204766;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}
/*-linear-gradient(to bottom left, rgba(54,0,51, 0.8) , rgba(58,97,134, 0.8))>*/

.sideBar {
    -fx-background-color: linear-gradient(to bottom left, rgba(40,43,82, 0.8) , rgba(33,65,97, 0.8));
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #161E25;
    -fx-background-radius: 0em;
}